
#left-column {
  width: 50%;
  float: left;
}

#book-reviews {
  width: 50%;
  float: right;
  margin-top: 10px;
}

#book-profile {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

#book-cover {
  font-family: Georgia;
  margin: 5px;
  width: 20%;
  float: left;
  text-align: left;
}

#book-details h2{
  margin: 4px;
}

#book-author {
  margin: 2px;
}

#book-resources {
  text-align: center;
  font-size: 12px;
  color: #666666;
}

#book-resources a {
  color: #666666;
}

#inventory-reviews {
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;

  border: 0px solid #6488A5;
  width: 480px;
  padding: 0px;
  margin-left: 4px;
  float: left;
}
